{% extends 'base-page.html' %}

{% block title %}
Python developer portfolio
{% endblock %}

{% block body %}
<body>
    <main class="container">
        <div class="row g-5">
            <div class="col-md-8">
                <article class="blog-post">
                    <h2 class="blog-post-title mb-1">Congratulations!</h2>
                    <p>If you are reading this, then most likely you are currently looking for a python web developer and potentially have came to right place. This website was created for my future employer, here you can find information about me, my skills and technologies that I use, get to know my projects in detail.</p>
                    <p>I've transitioned from a 4-year career as a design engineer to become a web developer, because I wanted to find solution to automate my products, I came across Python, and it pleasantly surprised me, turns out that the process of writing code can be interesting and fast, but these are not the only reasons why I liked Python. I also knew that with its help you can create web applications and wanted to learn this. That's how it all started.</p>
                    <p>During my last employment my responsibilities included: creation of 3D models and files for machines with CNC, optimization of existing products, introduction of engineering solutions, creation of drawings for production. My last project was a houseboat, this is a kind of smart house that can float.</p>
                    <p>Now i can...</p>
                    <p>If you are interested in our cooperation, please contact me using the contacts listed below!</p>

                    <hr>
                </article>
            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4">
                        <h4 class="fst-italic">Skills</h4>
                        <ol class="list-unstyled mb-0">
                            <li>Python</li>
                            <li>Django, Flask</li>
                            <li>PostgreSQL</li>
                            <li>Django ORM, SQLAlchemy</li>
                            <li>Django REST</li>
                            <li>Docker</li>
                            <li>HTML, CSS</li>
                        </ol>
                    </div>
                    <div class="p-4">
                        <h4 class="fst-italic">Contacts</h4>
                        <ol class="list-unstyled">
                            <li>GitHub:<a href="https://github.com/R1ckC137">R1ckC137</a></li>
                            <li>LinkedIn:<a href="https://www.linkedin.com/in/yaroslav-povar-32a316241/">Yaroslav Povar</a></li>
                            <li>Gmail: yaroslav.powar@gmail.com</li>
                            <li>Phone: +38 093 37 57 363</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
{% endblock %}
